{% load custom_filters %}
<div class="col-xs-12 col-xs-offset-0 col-lg-8 col-lg-offset-0 mid-panel">
    <div class="row">
         <div class="col-xs-12 googlemap-panel">
            <div class="googlemap">
            </div>
        </div>
        <div class="col-xs-12 mapdata-panel">
            <div class="mapdata">
                <svg class="heatmap"></svg>
                <svg class="calibration-scale" height="20"></svg>
                <div class="description" role="values">
                    <label id="less">Less</label>
                    <label id="more">More</label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 timedata-panel">
            <div class="timedata">
                <svg class="timemap"></svg>
            </div>
        </div>
    </div>
</div>