{% load custom_filters %}
<div id="left" class="col-md-3">
    <!--
    <div id="left_panel">
        <h3>
            <span class="glyphicon glyphicon-cloud-upload"> </span>
            Gateway
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:left">Parameter</th>
                    <th style="text-align:right">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for data in dataFormatGate %}
                    <tr>
                        <td class="parameter_box">{{data|split_gate}}</td>
                        <td id={{data}} align="right" class="value_box">0</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
-->
</div>